article {
  font-family: var(--font-crimson);
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 40 0 20 0;
  text-transform: uppercase;
}

p {
  margin: 12px 0px;
}

img {
  width: 25vw;
  border-radius: 8px;
}
